body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

#canvas {
    position: absolute;
    border: 2px solid #616161;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

#canvasContainer {
    position: relative;
}

#colorMenu {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    /* width: 240; */
    height: 50px;
    gap: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#btnPlace {
    scale: 1.5;
    position: absolute;
    bottom: 13%;
    left: 40%;
    background-color: #ffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#btnPlace:hover {
    background-color: #ddd;
}

#btnPlace:active {
    background-color: #9dff81;
}

.colorTile {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.colorTile:hover {
    scale: 1.2;
}

.colorTile:active {
    scale: 0.8;
}