/* Global Styles */
body {
    background: linear-gradient(#131313, #424242);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

/* Box Styles */
#box {
    margin: 0 auto;
    padding: 15px;
    width: 40%;
    color: white;
    border: 2px dashed white;
    border-radius: 10px;
    text-align: center;
}

/* Text Styles */
#text {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

/* Continue Button Styles */
#continue {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Link Styles */
a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: limegreen;
}

a:active {
    color: blue;
}